#shirt1{
    width:220px;
    margin: 10px;
}
body{
    font-family: 'Lobster', cursive;
    background-image:url("https://www.walldevil.com/wallpapers/a39/floral-website-black-mebbe-albums-desktop-background-wallpaper-images.jpg");
}
.text2{
    color:white;
}
